/* Start General */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css");


html * {
    text-rendering: optimizeSpeed;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
}

:root {
    --main-color: #C5A54D;
    --secondary-color: #FFF9E9;
    --font-family: 'Poppins', sans-serif;
    --trans: all 0.4s ease-in-out;
    --font-14: 14px;
    --font-16: 16px;
}

body {
    overflow-x: hidden;
    background: #F9FAFC;
    transition: var(--trans);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
}

a,
a:hover,
a:focus,
a:active,
button:hover,
button:focus,
button:active,
span,
p,
span:hover,
p:hover {
    text-decoration: none;
    outline: none;
}

select,
input[type="checkbox"],
input[type="radio"],
select:focus,
input[type="checkbox"]:focus,
input[type="radio"]:focus {
    cursor: pointer;
}

.form-control:focus,
.form-select:focus,
.btn:focus {
    box-shadow: none !important;
    border-color: var(--main-color);
}

.btn-crown {
    padding: 7px 18px !important;
    background-color: var(--main-color) !important;
    border-color: var(--main-color) !important;
    color: #FFF !important;
    border-radius: 4px;
    font-size: var(--font-16);
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.btn-crown:hover {
    background-color: #FFF !important;
    border-color: var(--main-color) !important;
    color: var(--main-color) !important;
}

.btn-outlined {
    border-radius: 4px;
    font-size: var(--font-16);
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    border-color: var(--main-color) !important;
    color: var(--main-color) !important;
    padding: 7px 18px !important;
}

.cover-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contain-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

picture {
    display: block;
}

.mb-32 {
    margin-bottom: 32px;
}

.mb-24 {
    margin-bottom: 24px;
}

.mb-16 {
    margin-bottom: 16px;
}

.mb-20 {
    margin-bottom: 20px;
}

i.bi {
    line-height: 1;
    display: inline-block;
    vertical-align: middle;
}

/* Start General */

/* top-bar */
.top-bar {
    background-color: var(--secondary-color);
    padding: 8px 0;
}

/* top-bar */

/* top-nav */
.top-nav p {
    font-size: 14px;
    color: #707070;
    font-weight: 400;
    font-style: normal;
    margin-inline-end: 16px;
}

.top-nav p i.bi-check2-circle {
    color: seagreen;
    margin-inline-end: 3px;
}

/* top-nav */

/* social-nav */
.social-nav a {
    padding: 3px 5px;
    color: #333;
    font-size: 16px;
    margin-left: 4px;
}

.social-nav a:hover {
    background-color: var(--main-color);
    color: #FFF;
    border-radius: 5px;
}

/* social-nav */

/* main-header */
.main-header {
    background-color: #FFF;
}

/* main-header */

/* navbar-brand */
.navbar-brand img {
    height: 50px;
}

/* navbar-brand */

/* navlink */
.navbar-nav .nav-link,
.nav-underline .nav-link {
    padding: 6px 15px;
    color: #333;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 2px solid transparent;
    transition: all 0.3s ease;
}

.navbar-nav .nav-link:hover,
.nav-underline .nav-link:hover {
    color: var(--main-color);
    border-bottom-color: var(--main-color);
}

.notification-number {
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: var(--bs-danger);
    color: #FFF;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    border-radius: 50%;
    font-size: 12px;
}

.dropdown-menu {
    padding: 8px !important;
}

.dropdown-item {
    margin: 0 !important;
    transition: all 0.3s ease;
}

.user-sm-img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0;
}

.no-arrow .dropdown-toggle::after {
    display: none;
}

/* navlink */

/* search-header */
.search-header input[type=search] {
    background: #FFFFFF;
    border: 1px solid #F4F4F4;
    border-radius: 100px;
    width: 400px;
}

.search-header button.btn {
    width: 48px;
    height: 48px;
    background: var(--main-color);
    border-radius: 100px;
    color: #FFF;
}

/* search-header */

/* main-slider */
.main-slider {
    position: relative;
    padding: 16px 0;
}

.slider-img {
    width: 100%;
    max-height: 500px;
    position: relative;
    margin-bottom: 0;
}

.slider-img img {
    width: 100%;
    height: auto;
}

.slider-text h4 {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #AFAFAF;
}

.slider-text h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 43px;
    color: #000000;
    margin-bottom: 25px;
}

.slider-text p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #9C9C9C;
    margin-bottom: 30px;
}

.swiper-pagination {
    text-align: left;
}

.swiper-pagination-bullet {
    background: #CACACA;
    opacity: 1;
    transition: all 0.3s ease;
}

.swiper-pagination-bullet-active {
    background: var(--main-color);
    transform: scale(1.25, 1.25);
}

.main-slider-wrapper {
    padding: 25px;
    border-radius: 8px;
    overflow: hidden;
    background-color: #fff;
}

/* main-slider */

/* sec-title */
.sec-title h4 {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    color: #000000;
}

/* sec-title */

/* categories-sec */
.categories-sec {
    padding: 40px 0;
}

/* categories-sec */

/* category-item */
.category-item {
    background: #fbfbfb;
    border: 1px solid rgba(206, 207, 213, 0.4);
    border-radius: 12px;
    padding: 32px;
    text-align: center;
    transition: all 0.3s ease;
}

.category-item:hover {
    background-color: #FFF;
}

.category-item figure {
    width: 80px;
    height: 80px;
    margin-right: auto;
    margin-left: auto;
}

.category-item h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: #1A1E26;
}

/* category-item */

.swiper-button-next,
.swiper-button-prev {
    background: #FFFFFF;
    box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.12);
    border-radius: 100px;
    width: 36px;
    height: 36px;
    color: #1A1E26;
}

/* products */
.products {
    padding: 50px 0;
}

/* products */

/* product-item */
.product-item figure {
    position: relative;
    height: 240px;
    background: #F4F4F4;
    border-radius: 8px;
    overflow: hidden;
}

.product-item figure img {
    transition: all 0.4s ease;
}

.product-item:hover figure img {
    transform: scale(1.05, 1.05);
}

.new {
    position: absolute;
    top: 12px;
    right: 12px;
    padding: 4px 10px;
    border-radius: 4px;
    color: #FFF;
    font-size: 14px;
    background-color: #EB2606;
    z-index: 2;
}

.pro-cat {
    display: inline-block;
    background: #F2F6F4;
    border-radius: 4px;
    padding: 4px 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: var(--main-color);
}

.product-item h3 {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #1A1E26;
    margin-top: 8px;
    margin-bottom: 8px;
    transition: all 0.4s ease;
}

.product-item:hover h3 {
    color: var(--main-color);
}

.product-item .review {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #C8C9CB;
}

.product-item .review strong {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #060709;
}

.product-item .review i {
    color: #F2BC1B;
}

.price {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: var(--main-color);
}

.price strike {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 150%;
    color: #C8C9CB;
}

/* product-item */

/* out-of-stock */
.out-of-stock {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(5, 66, 44, 0.3);
    backdrop-filter: blur(4px);
    border-radius: 100px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #FFF;
    padding: 12px 25px;
    z-index: 2;
}

/* out-of-stock */

/* title-actions */
.title-actions .nav-link {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #1A1E26;
    background: #FFFFFF;
    border: 1px solid #F4F4F4;
    border-radius: 100px;
    padding: 8px 20px;
    margin-inline-start: 24px;
}

.title-actions .nav-link.active {
    background-color: rgb(197 165 77 / 11%) !important;
    color: var(--main-color);
    border-color: var(--main-color);
}

/* title-actions */

/* banner */
.banner {
    padding: 40px 0;
}

/* banner */

/* banner-big-wrap */
.banner-big-wrap {
    padding: 56px;
    background: rgba(197 165 77 / 20%);
    backdrop-filter: blur(20px);
    border-radius: 24px;
}

.banner-big-wrap span.cat {
    background: rgba(197 165 77 / 20%);
    border-radius: 4px;
    padding: 4px 8px;
    color: var(--main-color);
    display: inline-block;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 4px;
    margin-bottom: 16px;
}

.banner-big-wrap h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 120%;
    margin-bottom: 32px;
}

.banner-big-wrap .price {
    font-size: 28px;
}

.banner-big-wrap .price strike {
    font-size: 18px;
}

.banner-big-wrap figure {
    height: 322px;
    width: 100%;
    background: rgb(255 255 255 / 63%);
    border-radius: 16px;
    padding: 25px;
    position: relative;
}

/* .banner-big-wrap .swiper-button-next {
    right: -40px;
} 

.banner-big-wrap .swiper-button-prev {
    left: -40px;
} */


/* banner-big-wrap */

/* sale-item */
.sale-item {
    padding: 24px;
    background-color: rgba(197 165 77 / 20%);
    backdrop-filter: blur(20px);
    border-radius: 24px;
}

.sale-item figure {
    width: 100%;
    height: 250px;
    position: relative;
    overflow: hidden;
    margin-bottom: 24px;
}

.sale-item figure span.sale-percent {
    position: absolute;
    top: 0;
    left: 0;
    padding: 4px 16px 5px;
    background: #F2BC1B;
    border-radius: 4px 0px;
    font-size: 18px;
    font-weight: 500;
    color: #FFF;
}

.sale-item h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: #1A1E26;
}

/* sale-item */

/* features */
.features {
    padding: 50px 0;
    background: #F2F6F4;
}

.feat-item figure {
    width: 100px;
    height: 100px;
    background: #FFFFFF;
    border-radius: 100px;
    text-align: center;
    padding: 15px;
}

.feat-item h4 {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    color: #1A1E26;
    margin-bottom: 16px;
}

.feat-item p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #717378;
}

/* features */

/* big-offer */
.big-offer {
    padding: 100px 50px;
    background: url(../images/big-offer-bg.png) no-repeat center / cover;
    border-radius: 24px;
    overflow: hidden;
}

.big-offer h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 110%;
    color: #FFFFFF;
    text-transform: uppercase;
}

.big-offer p {
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    color: #FFFFFF;
}

.big-offer p span {
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 120%;
    color: #F2BC1B;
}

/* big-offer */

/* main-footer */
.main-footer {
    padding: 40px 0 25px 0;
    background: linear-gradient(180deg, #26241A 0%, #01100B 100%);
}

.main-footer .footer-brand {
    margin-bottom: 15px;
    display: inline-block;
}

.main-footer .footer-brand img {
    height: 60px;
    max-width: 100%;
}

.main-footer p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #9D9EA2;
}

.main-footer h4 {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: #FFFFFF;
    margin-bottom: 24px;
}

.footer-list li a {
    display: block;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #9D9EA2;
    margin-bottom: 12px;
    position: relative;
    transition: all 0.3s ease;
}

.footer-list li a::after {
    content: '';
    display: block;
    width: 0;
    height: 1px;
    background-color: var(--main-color);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all 0.3s ease;
}

.footer-list li a:hover {
    color: #FFF;

}

.footer-list li a:hover::after {
    width: 35px;
}

.pay-methods li {
    width: 56px;
    height: 32px;
    background: #FFFFFF;
    border-radius: 6px;
    text-align: center;
    line-height: 32px;
}

.pay-methods li:not(:last-child) {
    margin-right: 12px;
}

.pay-methods li img {
    height: 18px;
    max-width: 100%;
}

.footer-list.nav li:not(:last-child) {
    margin-inline-end: 12px;
}

/* main-footer */

/* mini-cart-table */
.mini-cart-table figure {
    width: 56px;
    height: 56px;
    background: #FFFFFF;
    border: 1px solid #F4F4F4;
    border-radius: 6px;
}

.mini-cart-table h3 {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--main-color);
}

.mini-cart-table p {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 150%;
    color: #9D9EA2;
    margin-bottom: 0;
}

.mini-cart-table strong.total-mini {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    color: #060709;
    display: block;
}

.total-price strong {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    text-transform: uppercase;
    color: #060709;
}

.total-price span {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: #EB2606;
}

/* mini-cart-table */

/* custom checkbox */
.styled-checkbox {
    position: absolute;
    opacity: 0;
}

.styled-checkbox+label {
    position: relative;
    cursor: pointer;
    padding: 0;
}

.styled-checkbox+label:before {
    content: "";
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    width: 25px;
    height: 25px;
    background: rgb(236, 236, 236);
    transition: all 0.3s ease;
    border-radius: 4px;
}

.styled-checkbox:hover+label:before {
    background: var(--main-color);
}

.styled-checkbox:focus+label:before {
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
}

.styled-checkbox:checked+label:before {
    background: var(--main-color);
}

.styled-checkbox:disabled+label {
    color: #b8b8b8;
    cursor: auto;
}

.styled-checkbox:disabled+label:before {
    box-shadow: none;
    background: #ddd;
}

.styled-checkbox:checked+label:after {
    content: "";
    position: absolute;
    left: 6px;
    top: 12px;
    background: white;
    width: 2px;
    height: 2px;
    box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
    transform: rotate(45deg);
}

.check-list li {
    margin-bottom: 12px;
}

/* custom checkbox */

/* main-content */
.main-content {
    position: relative;
    min-height: 70vh;
}

/* main-content */

/* filter-side */
.filter-side {
    margin-bottom: 30px;
    padding: 24px 12px;
    background-color: #FFF;
    border-radius: 12px;
}

.filter-side hr {
    border-color: #F4F4F4;
    opacity: 1 !important;
}

.filter-side h4 {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: #1A1E26;
    margin-bottom: 0;
}

.sub-title {
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 150%;
    letter-spacing: 1px;
    color: #717378;
    text-transform: uppercase;
    margin-bottom: 20px;
    display: inline-block;
}

/* filter-side */
.noUi-target {
    height: 5px;
}

.noUi-target {
    background: #e8e8e8;
}

.noUi-target .noUi-connect {
    background: #c0392b;
}

.noUi-target .noUi-handle {
    height: 18px;
    width: 18px;
    top: -5px;
    right: -9px;
    /* half the width */
    border-radius: 9px;
}

.noUi-tooltip {
    background: var(--main-color);
    border-color: var(--main-color);
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #FFFFFF;
}

.noUi-target {
    border: none;
    border-radius: 25px;
}

.noUi-target .noUi-connect {
    background: var(--main-color);
}

.noUi-handle:after,
.noUi-handle:before {
    display: none;
}

.noUi-handle {
    background-color: var(--main-color);
    border-color: var(--main-color);
}

/* form */
.form .form-group>label {
    margin-bottom: 8px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #46494F;
}

.form .form-control,
.form .form-select {
    height: 48px;
    background-color: #f3f3f3;
    color: #333;
    border-color: transparent;
    border-radius: 8px;
}

.form textarea {
    height: auto !important;
    min-height: 200px;
}

.form .btn {
    height: 48px;
}

.slider-group label {
    margin-bottom: 45px !important;
}

/* form */
/* page  */
.page {
    position: relative;
    padding: 20px 0 30px 0;
}

.archive-page .product-item {
    margin-bottom: 32px;
}

/* page  */

/* paginations */
.pagination {
    list-style: none;
    padding: 8px;
    text-align: center;
}

.pagination a,
.pagination li {
    border-radius: 50%;
    color: #212121;
    display: inline-block;
    margin: 0;
    transition: .15s ease-in;
    cursor: pointer;
    text-decoration: none;
}

.pagination li {
    margin: 0 5px;
}

.pagination a:hover {
    background: rgba(181, 173, 63, 0.12);
}

.pagination .pagination-number,
.pagination .pagination-arrow i {
    vertical-align: middle;
}

.pagination .pagination-number {
    font-family: sans-serif;
    font-size: 14px;
    text-align: center;
    line-height: 24px;
    width: 32px;
    padding: 4px 0;
}

.pagination .pagination-number.current-number {
    background: var(--main-color);
    color: #fff;
}

.pagination .pagination-arrow i {
    font-size: 24px;
    padding: 4px;
}

/* paginations */

/* toolbar */
.toolbar {
    background: #FFFFFF;
    box-shadow: 14px 17px 40px 4px rgba(112, 144, 176, 0.08);
    border-radius: 8px;
    padding: 5px 6px 5px 15px;
}

.toolbar h1 {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    color: #1A1E26;
}

.toolbar .nav-link {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #172B4D;
    display: block;
}

/* toolbar */

/* no-content */
.no-content {
    position: relative;
    text-align: center;
}

.no-content picture {
    height: 200px;
}

.no-content h1 {
    font-size: 20px;
    line-height: 30px;
}

.no-content p {
    font-size: 15px;
    line-height: 30px;
}

/* no-content */

/*  course-item */
.course-item {
    padding: 24px 12px;
    background-color: #FFF;
    border-radius: 12px;
}

.course-item picture {
    width: 100%;
    height: 185px;
    overflow: hidden;
    margin-bottom: 13px;
    position: relative;
    border-radius: 24px;
}

.course-item picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.course-item a>span {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #A3A3A3;
}

.course-item h2 {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin-bottom: 10px;
}

.author .d-flex {
    align-items: center;
}

.course-item .author figure,
.page-single-header .author figure {
    width: 24px;
    height: 24px;
    overflow: hidden;
    border-radius: 50%;
    margin-bottom: 0;
}

.rating-result {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.rating-result i {
    margin-right: 5px;
    color: #BBBBBB;
}

.rating-result i[class*=fill] {
    color: #FFC700;
}

.rating-result p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-bottom: 0;
}

.course-item .cat {
    position: absolute;
    top: 12px;
    left: 12px;
    background-color: #9087FD;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    display: inline-block;
    padding: 4px 8px;
    border-radius: 7px;
}

.fav-button {
    color: #A3A3A3;
    font-size: 20px;
    position: absolute;
    top: 17px;
    right: 12px;
    transition: all 0.4s ease;
}

.fav-button:hover {
    color: var(--bs-danger);
}

.fav-button.filled {
    color: #FF0000;
}

/*  course-item */

/*course-item vertical*/
.course-item-vertical {
    margin-bottom: 18px;
}

.course-item-vertical picture {
    width: 288px;
    height: 227px;
    position: relative;
}

.course-item-vertical .fav-button {
    position: static;
}

/*course-item vertical*/

/* hide-archive */
.hide-archive {
    display: none;
}

/* hide-archive */

@-webkit-keyframes slideUp {
    0% {
        -webkit-transform: translateY(6.25rem);
        transform: translateY(6.25rem);
        opacity: 0.8;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideUp {
    0% {
        -webkit-transform: translateY(6.25rem);
        transform: translateY(6.25rem);
        opacity: 0.8;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

/*rating*/
.rating {
    border: none;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.rating>input {
    display: none;
}

.rating>label:before {
    margin: 5px;
    font-size: 1.25em;
    font-family: 'bootstrap-icons';
    display: inline-block;
    content: "\F588";
}

.rating>label {
    color: #9A9A9A !important;
    float: right;
    margin-bottom: 0 !important;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating>input:checked~label,
/* show gold star when clicked */
.rating:not(:checked)>label:hover,
/* hover current star */
.rating:not(:checked)>label:hover~label {
    color: #FFD700 !important;
}

/* hover previous stars in list */

.rating>input:checked+label:hover,
/* hover current star when changing rating */
.rating>input:checked~label:hover,
.rating>label:hover~input:checked~label,
/* lighten current selection */
.rating>input:checked~label:hover~label {
    color: #FFED85 !important;
}

.rating>input:checked+label:hover::before,
/* hover current star when changing rating */
.rating>input:checked~label:hover::before,
.rating>label:hover~input:checked~label::before,
/* lighten current selection */
.rating>input:checked~label:hover~label::before,
.rating>label~input:checked~label::before,
.rating input:checked~label::before {
    content: "\F586";
}

/*rating*/

/* auth */
/* .auth-header {
    position: relative;
}
 */

.auth-header .container {
    max-width: calc(100% - 435px);
}

.auth {
    min-height: 100vh;
    height: 100%;
    width: 100%;
}

.auth>.d-flex>div,
.auth>.d-flex>figure {
    width: 50%;
}

.auth-image {
    background: rgba(139, 115, 75, 0.06);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100vh;
    position: sticky;
    top: 0;
    right: 0;
}

.auth-image img {
    max-width: 100%;
    height: auto;
}

.auth-side {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 12px;
}

.auth-side .auth-form {
    width: 500px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.auth-side .auth-form h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: var(--main-color);
}

.auth-side .auth-form p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #7A7A7A;
}

.btn-hideshow-password {
    position: absolute;
    top: 6px;
    right: 0;
}

.auth-form .form-group .form-control,
.auth-form .form-group .form-select {
    background-color: #F7F7F7;
}

.forget-password {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #AA0000;
}

.btn-auth {
    background: var(--main-color);
    border-radius: 4px;
    height: 50px;
    color: #FFF;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}

.btn-auth:hover {
    background: var(--main-color);
    color: #FFF;
}

/* auth */

/* product-image-single */
.product-image-single {
    background: #FFFFFF;
    border: 1px solid #F4F4F4;
    border-radius: 24px;
    height: 520px;
    overflow: hidden;
}

.product-sm-image-single {
    width: 64px;
    height: 64px;
    background: #F4F4F4;
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid transparent;
    transition: all 0.3s ease;
    cursor: pointer;
}

.swiper-slide-thumb-active figure {
    border: 1px solid var(--main-color);
}

/* product-image-single */

/* single-title */
.single-title {
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 120%;
    color: #060709;
    margin-bottom: 16px;
}

/* single-title */

.rate-result i {
    color: #F2BC1B;
    font-size: 18px;
    margin-inline-end: 8px;
}

/* description */
.description p,
.description span,
.description pre,
.description>*,
.description li,
.description {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #46494F;
}

/* description */

/* options-box */
.options-box {
    background: #FFFFFF;
    box-shadow: 14px 17px 40px 4px rgba(112, 144, 176, 0.08);
    border-radius: 8px;
    padding: 12px;
}

/* options-box */

/* quantity-box */
.quantity-box {
    margin-bottom: 16px;
}

.quantity-box .btn {
    width: 40px;
    height: 40px;
    background-color: var(--bs-light);
    padding: 0;
}

.quantity-box .btn svg {
    font-size: 25px;
}

.quantity-box .form-control {
    width: 100px;
    margin: 0 12px;
    text-align: center;
    height: 40px;
    border: 1px solid #CACACA;
    font-weight: 500;
}

/* quantity-box */

.select2-container .select2-selection--single {
    height: 40px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 40px;
}

.select2-container--default .select2-selection--single {
    border: 1px solid #CACACA;
}

/* HIDE RADIO */
.my-radio [type=radio] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

/* IMAGE STYLES */
.my-radio [type=radio]+img {
    cursor: pointer;
    width: 40px;
    height: 40px;
    transition: all 0.4s ease;
    border: 2px solid #e3e3e3;
    border-radius: 50%;
}

/* CHECKED STYLES */
.my-radio [type=radio]:checked+img {
    border-color: var(--main-color);
}

/* main-content */

.description-tabs.title-actions .nav-link {
    margin-inline-start: 0;
    margin-inline-end: 12px;
}

/** ====================
 * Lista de Comentarios
 =======================*/
.comments-container {


}

.comments-container h1 {
    font-size: 36px;
    color: #283035;
    font-weight: 400;
}

.comments-container h1 a {
    font-size: 18px;
    font-weight: 700;
}

.comments-list {
    margin-top: 30px;
    position: relative;
}

/**
 * Lineas / Detalles
 -----------------------*/
/* .comments-list:before {
	content: '';
	width: 2px;
	height: 100%;
	background: #c7cacb;
	position: absolute;
	left: 32px;
	top: 0;
}

.comments-list:after {
	content: '';
	position: absolute;
	background: #c7cacb;
	bottom: 0;
	left: 27px;
	width: 7px;
	height: 7px;
	border: 3px solid #dee1e3;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}

.reply-list:before, .reply-list:after {display: none;}
.reply-list li:before {
	content: '';
	width: 60px;
	height: 2px;
	background: #c7cacb;
	position: absolute;
	top: 25px;
	left: -55px;
}
 */

.comments-list li {
    margin-bottom: 15px;
    display: block;
    position: relative;
}

.comments-list li:after {
    content: '';
    display: block;
    clear: both;
    height: 0;
    width: 0;
}

.reply-list {
    padding-left: 88px;
    clear: both;
    margin-top: 15px;
}

/**
 * Avatar
 ---------------------------*/
.comments-list .comment-avatar {
    width: 65px;
    height: 65px;
    position: relative;
    z-index: 99;
    float: left;
    border: 3px solid #FFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.comments-list .comment-avatar img {
    width: 100%;
    height: 100%;
}

.reply-list .comment-avatar {
    width: 50px;
    height: 50px;
}

.comment-main-level:after {
    content: '';
    width: 0;
    height: 0;
    display: block;
    clear: both;
}

/**
 * Caja del Comentario
 ---------------------------*/
.comments-list .comment-box {
    min-width: 680px;
    position: relative;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    margin-inline-start: 92px;
}

.comments-list .comment-box:before,
.comments-list .comment-box:after {
    content: '';
    height: 0;
    width: 0;
    position: absolute;
    display: block;
    border-width: 10px 12px 10px 0;
    border-style: solid;
    border-color: transparent #FCFCFC;
    top: 8px;
    left: -11px;
}

.comments-list .comment-box:before {
    border-width: 11px 13px 11px 0;
    border-color: transparent rgba(0, 0, 0, 0.05);
    left: -12px;
}

.reply-list .comment-box {
    width: 610px;
}

.comment-box .comment-head {
    background: #FCFCFC;
    padding: 10px 12px;
    border-bottom: 1px solid #E5E5E5;
    overflow: hidden;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
}

.comment-box .comment-head i {
    float: right;
    margin-left: 14px;
    position: relative;
    top: 2px;
    color: #A6A6A6;
    cursor: pointer;
    -webkit-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
}

.comment-box .comment-head i:hover {
    color: #03658c;
}

.comment-box .comment-name {
    color: #283035;
    font-size: 14px;
    font-weight: 700;
    float: left;
    margin-right: 10px;
}

.comment-box .comment-name a {
    color: #283035;
}

.comment-box .comment-head span {
    float: left;
    color: #999;
    font-size: 13px;
    position: relative;
    top: 1px;
}

.comment-box .comment-content {
    background: #FFF;
    padding: 12px;
    font-size: 15px;
    color: #595959;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
}

.comment-box .comment-name.by-author,
.comment-box .comment-name.by-author a {
    color: #03658c;
}

.comment-box .comment-name.by-author:after {
    content: 'autor';
    background: #03658c;
    color: #FFF;
    font-size: 12px;
    padding: 3px 5px;
    font-weight: 700;
    margin-left: 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

/** =====================
 * Responsive
 ========================*/
@media only screen and (max-width: 766px) {
    .comments-container {
        width: 480px;
    }

    .comments-list .comment-box {
        width: 390px;
    }

    .reply-list .comment-box {
        width: 320px;
    }
}

.table-mini-info td {
    font-size: 14px;
}

.table-mini-info tr td:last-child {
    width: 80px;
    text-align: end;
}

/* page-header-text */
.page-header-text {
	position: relative;
	margin-bottom: 30px;
}

.page-header-text h1 {
	font-style: normal;
	font-weight: 500;
	font-size: 40px;
	line-height: 48px;
	color: var(--main-color);
}

/* page-header-text */

/* text-stripped */
.text-stripped h1,
.text-stripped h2,
.text-stripped h3,
.text-stripped h4,
.text-stripped h5,
.text-stripped h6 {
	font-style: normal;
	font-weight: 700;
	color: #000000;
	text-align: justify;
	margin-bottom: 10px;
}

.text-stripped h1 {
	font-size: 36px;
	line-height: 34px;
}

.text-stripped h2 {
	font-size: 34px;
	line-height: 34px;
}

.text-stripped h3 {
	font-size: 32px;
	line-height: 34px;
}

.text-stripped h4 {
	font-size: 28px;
	line-height: 34px;
}

.text-stripped h5 {
	font-size: 24px;
	line-height: 34px;
}

.text-stripped h6 {
	font-size: 20px;
	line-height: 34px;
}

.text-stripped img {
	max-width: 100%;
	height: auto;
}

.text-stripped table {
	width: 100%;
	margin-bottom: 20px;
}

.text-stripped p,
.text-stripped span,
.text-stripped b,
.text-stripped strong,
.text-stripped * {
	font-size: 18px;
	line-height: 22px;
	text-align: justify;
	color: #3C3C3C;
}

/* text-stripped */

/* white-bg-box */
.white-bg-box {
    background: #FFFFFF;
    box-shadow: 14px 17px 40px 4px rgba(112, 144, 176, 0.08);
    border-radius: 8px;
    padding: 12px;
}
/* white-bg-box */

/* table-flex-item */
.table-flex-item figure {
    width: 48px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #F4F4F4;
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.table-flex-item h4 {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    margin-bottom: 0;
}
/* table-flex-item */

/* page-cart */
.page-cart .table td,
.page-cart .table th {
    vertical-align: middle;
    border-color: rgba(0, 0, 0, 0.1);
}

.page-cart .table {
    border-color: rgba(0, 0, 0, 0.1);
}

.page-cart .table th {
    font-size: 14px;
}
/* page-cart */

/* user-side */
.user-side {
    background: #FFFFFF;
    box-shadow: 14px 17px 40px 4px rgba(112, 144, 176, 0.08);
    border-radius: 8px;
    padding: 12px;
}

.user-side-img {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid #FFF;
    box-shadow: 14px 17px 40px 4px rgba(112, 144, 176, 0.08);
    margin-right: auto;
    margin-left: auto;
}

.user-info-sm {
    text-align: center;
}

.user-info-sm h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #000000;
}

.user-info-sm .btn {
    border: 1px solid #e5e5e5;
}
/* user-side */

/* side-list */
.side-list .nav-link {
    padding: 6px 12px;
    color: #172B4D;
    font-size: 16px;
    font-weight: 400;
    position: relative;
    margin-bottom: 6px;
    transition: all 0.3s ease;
}

.side-list .nav-link i {
    margin-inline-end: 5px;
}

.side-list .nav-link.active,
.side-list .nav-link:hover {
    background-color: rgba(181, 173, 63, 0.06);
    color: var(--main-color);
}
/* side-list */

.box-title {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: #000000;
    margin-bottom: 12px;
}

/* badge badge-success */
.badge {
    padding: 6px 12px;
    color: #333;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    border-radius: 4px;
    min-width: 100px;
}

.badge-success {
    background-color: rgba(0, 197, 20, 0.16);
    color: var(--bs-success);
}

.badge-fail {
    background-color: rgba(197, 23, 0, 0.16);
    color: var(--bs-danger);
}

.badge-inprogress {
    background-color: rgba(197, 105, 0, 0.16);
    color: var(--main-color);
}
/* badge badge-success */

.vertical-middle td {
    vertical-align: middle;
}